<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GDAL" version="3.5.0" targetFramework="net461" />
  <package id="GDAL.Native" version="3.5.0" targetFramework="net461" />
  <package id="GDAL.Plugins" version="3.5.0" targetFramework="net461" />
  <package id="OpenCvSharp3-AnyCPU" version="4.0.0.20181129" targetFramework="net40" requireReinstallation="true" />
</packages>